/* General styles */
body {
  font-family: "Abel", sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  color: #fff;
  padding: 1rem;
  text-align: left;
  position: relative;
}

header h1 {
  margin: 0;
  font-size: 1.8rem;
  font-family: "Cantarell", sans-serif;
}

.header-buttons {
  margin-top: 0.5rem;
}

.header-buttons .button {
  text-transform: uppercase;
  font-family: "Abel", sans-serif;
  display: inline-block;
  margin: 0 10px;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.header-buttons .button:hover {
  background-color: #161616;
}

/* Navigation */
nav {
  margin: 1rem 0;
  text-align: center;
}

nav button {
  margin: 0 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background-color: #555;
  color: #fff;
  border-radius: 5px;
}

nav button.active {
  background-color: #0078d7;
}

/* Main content */
section {
  padding: 2rem;
  max-width: 1000px;
  margin: 0 auto;
}

div.full-width {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(134, 44, 44);
  border-color: blue;
  margin-inline: auto;
}

img {
  width: 100%;
  height: auto;
}

.pfp {
  display: flex;
  justify-content: center;
  max-width: 13rem;
  height: auto;
  border-radius: 50%;
}

/* Footer */
footer {
  background-color: #000000;
  color: #fff;
  text-align: center;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}
