html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #000000;
  overscroll-behavior: none;
}

body h1 {
  font-family: "Cantarell", sans-serif;
  line-height: 1.6;
  color: #fff;
  font-size: 2.5rem;
  text-transform: uppercase;
  text-align: center;
}

body h2 {
  font-family: "Cantarell", sans-serif;
  line-height: 1.6;
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
}

.highlight {
  color: #007bff;  
  font-weight: bold;
}

body p {
  font-family: "Abel", sans-serif;
  line-height: 1.6;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #000000;
  color: #fff;
  padding: 1rem;
  text-align: left;
  position: relative;
}

header h1 {
  margin: 0.5rem;
  font-size: 2.25rem;
  font-family: "Cantarell", sans-serif;
}

.header-buttons {
  margin-top: auto;
  margin-bottom: auto;
}

.header-buttons .button {
  text-transform: uppercase;
  font-family: "Abel", sans-serif;
  display: inline-block;
  margin: 0 10px;
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.header-buttons .button:hover {
  background-color: #272727;
}

nav {
  margin: auto;
  text-align: center;
}

nav button {
  margin: 0 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background-color: #555;
  color: #fff;
  border-radius: 5px;
}

nav button.active {
  background-color: #007bff;
}

/* Main content */
section {
  padding: 0rem;
  max-width: 60%;
  margin: 0 auto;
}

.grid-container {
  width: 100%;
  grid-template-columns: 1fr 1fr;
  display: grid;
  gap: 1rem;
  height: fit-content;
}

div.full-width {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-inline: auto;
}

img {
  width: 100%;
  height: auto;
}

.pfp {
  display: flex;
  justify-content: center;
  max-width: 13rem;
  height: auto;
  border-radius: 50%;
  margin-top: 1rem;
}

.column-container {
  display: grid; 
  grid-template-columns: 1fr;
  gap: 2rem;
}

.item {
  color: #fff;
  text-align: center;
  max-height: fit-content;
}

.item h1 {
  text-transform: uppercase;
  font-size: 1.25rem;
}

.item h2 {
  text-transform: uppercase;
  font-size: .75rem;
  margin-top: -1.25rem;
}

.item p {
  font-size: 1rem;
}

.item img {
  width: 95%;
  height: auto;
  border-radius: 10px;
  transition: transform 0.3s ease; 
}

.item img:hover {
  transform: scale(1.02); 
}

footer {
  background-color: #000000;
  color: #fff;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%;
}

footer p {
  font-family: "Abel", sans-serif;
  line-height: 1;
  color: #fff;
  font-size: 1rem;
}

.filler {
  height: 100%;
  flex: 1;
}

.contact-popup {
  display: none; 
  position: absolute;
  top: 65px; 
  right: 0;
  width: 12.5rem;
  height: auto;
  z-index: 10; 
  display: flex;
  justify-content: center; 
  align-items: center;
}

.contact-icon {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  padding: 15px;
}

.contact-icon:hover {
  color: #007bff; 
}
